$post-card-width: 37rem;

.section-blog {
  .blog {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3rem;
    align-items: stretch;
    justify-content: center;

    @include respond(tab-land) {
      grid-template-columns: $post-card-width 35rem;
    }
    @include respond(tab-port) {
      grid-template-columns: 35rem;
    }
    @include respond(phone) {
      grid-template-columns: 100%;
      justify-items: center;
    }
  }
  .post-card,
  .social-card {
    padding: 4rem;
    margin-bottom: 3rem;
    max-width: $post-card-width;
    @include respond(phone) {
      width: 100%;
      padding: 2rem;
    }
  }

  .post-card {
    background: $color-grey-light-1;
    max-width: $post-card-width;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .category {
      font-family: $main-font-bold;
      text-transform: capitalize;
    }
  }

  .social-card {
    background-color: $color-primary-light;

    &__header {
      height: 50%;
      @include respond(tab-land) {
        height: 0%;
      }
    }
    & .heading-4 {
      color: $color-white;
      font-size: 2.5rem;
    }
    & .social-links {
      display: flex;
      align-items: center;
      list-style: none;
      height: 40px;

      & li a {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1rem;
        border-radius: 50%;
        height: inherit;
        transition: $transition;

        &:hover {
          transform: translateY(-3px);
        }
      }

      .social-icon {
        height: 40px;
        width: 40px;

        @include respond(phone) {
          height: 30px;
          width: 30px;
        }
      }
    }
  }
}
