.footer {
  background: $color-secondary;
  background-size: cover;
  background-image: url(../../svg/footer-svg.png);
  color: $color-white;

  &-center {
    max-width: $max-width;
    margin: 0 auto;
  }

  & .row-1 {
    padding-top: 8rem;
    display: grid;
    grid-template-columns: repeat(5, auto);
    column-gap: 8rem;
    margin-bottom: 5rem;
    & p {
      font-size: 1.6rem;
    }
  }

  .logo img {
    width: 100%;
  }

  .title {
    font-size: 1.6rem;
    font-family: $main-font-bold;
    margin-bottom: 1rem;
  }

  .links {
    list-style: none;
    font-size: 1.6rem;
  }

  .col-contact {
    text-align: right;
  }

  .telephone {
    color: $color-white;
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .row-2 {
    padding-bottom: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .copyright {
      font-size: 1.2rem;
      margin-right: 8rem;
    }

    .sub-row {
      flex: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    & .policy {
      display: flex;
      align-items: center;

      & p {
        font-size: 1.2rem;
        margin-right: 8rem;
      }

      & a {
        font-size: 1.2rem;
        margin-right: 4rem;
      }
    }
    img {
      height: 4rem;
    }
  }

  @include respond(tab-land) {
    .row-1 {
      grid-template-columns: repeat(3, 1fr);

      .logo {
        margin-bottom: 5rem;
      }

      .col-contact {
        grid-row: 1/2;
        grid-column: 2/-1;
        margin-bottom: 4rem;
      }
    }
  }
  @include respond(tab-port) {
    .row-2 {
      flex-direction: column-reverse;
      align-items: stretch;

      .copyright {
        margin: 0;
      }

      .sub-row {
        margin-bottom: 1rem;
      }

      & .policy {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
  @include respond(phone) {
    .row-1 {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 3rem;

      .logo {
        grid-column: 1 /-1;
        width: 30%;
      }

      .col-services {
        display: none;
      }

      .col-contact {
        grid-row: 3/4;
        grid-column: 1/-1;
        text-align: left;
        margin-top: 5rem;
      }
    }
  }
}
